body, html {
    height: 100%;
    scroll-behavior: smooth;
    background-image: url(fondo.jpg);
    background-position: center;
    overflow-x: initial;
}
.card {
    box-shadow: 0 0.25rem 1rem #fff9;
    margin-bottom: 3vh;
    background-color: #fff9;
    padding: 10px;
}
.btn {
    margin-bottom: 0.4vh;
    margin-top: 0.3vh;
    margin-right: 1vw;
}
.container {
    width: 75%;
}
header {
    width: 100%;
    background-color: #fffb;
    box-shadow: 0 0.25rem 1rem #fff9;
}
header > * .btn {
    padding-bottom: 2px;
}
.navbar > * > * > * > .card {
    background-color: #ffff;
}
#menu_btn {
    padding-top: 11px;
    height: 55px;
    width: 55px;
    top: 1em;
    right: 1em;
    border: 2px solid white;
    box-shadow: 3px -2px #0005;
    z-index: 99;
}
.off-canvas-overlay {
    background-color: rgba(58,65,76,.3) !important;
}
#sidebar-id {
    flex-direction: column;
    background: #fffb;
    max-width: 50%;
}
#sidebar-id > * > a {
    width: 100%;
}
#sidebar-id > .btn {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
#sidebar-id > figure {
    margin-top: 1em;
    margin-bottom: 5vh;
}
#sidebar-id > .card {
    box-shadow: none;
}
:target:before {
    content:"";
    display:block;
    height: 65px; /* fixed header height*/
    margin:-65px 0 0; /* negative fixed header height */
}
mark-down {
    display: none;
}
#intro {
    width: 100%;
    justify-content: center;
}
#mano {
    height: 25vh;
    padding-top: 17px;
}
#lotus {
    height: 40vh;
    margin: 8vh 0px;
}
.off-canvas .off-canvas-content {
    padding: 0;
    flex-direction: column;
}
