body {
    font-family: Courier;
    zoom: 1.3;
}
header > * .btn {
    font-family: "Overlock SC";
    text-shadow: 0px -1px Black;
    font-weight: bold;
}
#sidebar-id > .btn {
    font-family: "Overlock SC";
    text-shadow: -1px 0px Black;
    font-weight: bold;
}

h1, h2 {
    font-family: "Overlock SC";
    text-shadow: 1px 2px #0006;
    color: black;
    text-align: center;
}
#normas-del-dojo + ol > li {
    text-align: left;
}
